#charityContainer td:nth-of-type(1){
     width: 10%;
     text-align: left;
 }

#charityContainer td:nth-of-type(2), #charityContainer td:nth-of-type(3){
    width: 45%;
    text-align: left;
}

#center-buttons{
    text-align: center;
    width: 100%;
}

#center-buttons button {
    margin: 20px;
    cursor: pointer;
}

.charity-row{
    cursor: pointer;
}