<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments :: head"></head>
<body>

<div id="container">
    <nav th:replace="fragments :: navigation"></nav>
    <table id="charityContainer" class="table">
        <thead>
        <tr>
            <th>Charity ID</th>
            <th>Charity Name</th>
            <th>Charity Number</th>
        </tr>
        </thead>

        <tbody id="charityRows">
        <tr>
            <td th:text="${charity.charityID}"></td>
            <td th:text="${charity.charityName}"></td>
            <td th:text="${charity.charityNumber}"></td>
        </tr>
        </tbody>
    </table>

    <div id="center-buttons">
        <a class="button btn btn-primary" th:href="@{'/charity/' + ${charity.charityID} + '/donate'}">Donate</a>
    </div>
</div>

</body>
</html>