<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments :: head"></head>
<body>

<div id="container">
    <nav th:replace="fragments :: navigation"></nav>

    <div class="row col-12" style="margin-top: 20px;">
        <div class="column col-6">
            <form method="post" class="form-group col-12">
                <h4 class="col-12">Donator</h4>
                <div class="form-group-row">
                    <label for="firstName" class="col-12 col-form-label">First Name</label>
                    <div class="col-12">
                        <input type="text" id="firstName"/>
                    </div>
                </div>
                <div class="form-group-row">
                    <label for="lastName" class="col-12 col-form-label">Last Name</label>
                    <div class="col-12">
                        <input type="text" id="lastName"/>
                    </div>
                </div>
            </form>

            <form method="post" class="form-group col-12">
                <h4 class="col-12">Address</h4>
                <div class="form-group-row">
                    <label for="buildingName" class="col-12 col-form-label">Building Name</label>
                    <div class="col-12">
                        <input type="text" id="buildingName"/>
                    </div>
                </div>
                <div class="form-group-row">
                    <label for="buildingName" class="col-12 col-form-label">Building Number</label>
                    <div class="col-12">
                        <input type="text" id="buildingNumber"/>
                    </div>
                </div>
                <div class="form-group-row">
                    <label for="street" class="col-12 col-form-label">Street Name</label>
                    <div class="col-12">
                        <input type="text" id="street"/>
                    </div>
                </div>
                <div class="form-group-row">
                    <label for="district" class="col-12 col-form-label">District</label>
                    <div class="col-12">
                        <input type="text" id="district"/>
                    </div>
                </div>
                <div class="form-group-row">
                    <label for="city" class="col-12 col-form-label">City</label>
                    <div class="col-12">
                        <input type="text" id="city"/>
                    </div>
                </div>
                <div class="form-group-row">
                    <label for="postcode" class="col-12 col-form-label">Postcode</label>
                    <div class="col-12">
                        <input type="text" id="postcode"/>
                    </div>
                </div>
                <div class="form-group-row">
                    <label for="countryISOCode" class="col-12 col-form-label">Country ISO Code</label>
                    <div class="col-12">
                        <input type="text" id="countryISOCode"/>
                    </div>
                </div>
            </form>
        </div>

        <div class="column col-6">
            <form method="post" class="form-group col-12">
                <h4 class="col-12">Donation</h4>
                <div class="form-group-row">
                    <label for="street" class="col-12 col-form-label">Donation Amount</label>
                    <div class="col-12">
                        <input type="text" id="amountInPence"/>
                    </div>
                </div>

                <div class="form-group-row">
                    <label for="isOwnMoney" class="col-12 col-form-label">Is this your money?</label>
                    <div class="col-12">
                        <input type="checkbox" id="isOwnMoney"/>
                    </div>
                </div>

                <div class="form-group-row">
                    <label for="hasNoBenefitToDonor" class="col-12 col-form-label">Does this donation have no benefit to
                        you?</label>
                    <div class="col-12">
                        <input type="checkbox" id="hasNoBenefitToDonor"/>
                    </div>
                </div>


                <div class="form-group-row">
                    <label for="wishesToGiftAid" class="col-12 col-form-label">Want this donation to be eligible for
                        gift aid?</label>
                    <div class="col-12">
                        <input type="checkbox" id="wishesToGiftAid"/>
                    </div>
                </div>
            </form>

            <form method="post" class="form-group col-12">
                <h4 class="col-12">(Optional) Sponsor</h4>
                <div class="form-group-row">
                    <label for="furl" class="col-12 col-form-label">Fundraiser Link</label>
                    <div class="col-12">
                        <input type="text" id="furl"/>
                    </div>
                </div>
                <div class="form-group-row">
                    <label for="fundraiserName" class="col-12 col-form-label">Fundraiser Name</label>
                    <div class="col-12">
                        <input type="text" id="fundraiserName"/>
                    </div>
                </div>
                <div class="form-group-row">
                    <label for="fundrasingAction" class="col-12 col-form-label">Fundraising Reason</label>
                    <div class="col-12">
                        <textarea type="text" id="fundrasingAction" />
                    </div>
                </div>

                <div class="form-group-row">
                    <div class="col-12">
                        <button class="btn btn-primary" type="button" onclick="submitAllForms()">Submit</button>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>

</body>
</html>


