<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments :: head"></head>
<body>

<div id="container">
    <nav th:replace="fragments :: navigation"></nav>
    <table id="charityContainer" class="table table-hover">
        <thead>
        <tr>
            <th>Charity ID</th>
            <th>Charity Name</th>
            <th>Charity Number</th>
        </tr>
        </thead>

        <tbody>
            <tr th:each="charity : ${charities}" class="charity-row" th:href="@{|/charity/${charity.charityID}|}">
                <td th:text="${charity.charityID}"></td>
                <td th:text="${charity.charityName}"></td>
                <td th:text="${charity.charityNumber}"></td>
            </tr>
        </tbody>
    </table>
</div>

</body>
</html>